
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  //background-color: red ;
  background-image: url("../../images/starrySky.png") ;
  background-size: cover;
  .page{
    display: flex;
    flex-direction: column;
  }
}