@import "../shared/helper";



main.home{
  padding: px(17);
  flex: 1;
  display: grid;
  grid-template:
      's1 s2 s4 s6' 477fr
      's3 s3 s5 s6' 235fr    / 235fr 235fr  547fr 461fr
;
  grid-row-gap: px(20);
  grid-column-gap:px(20) ;
> .section1{
  grid-area: s1;
}
> .section2{
  grid-area: s2;
}
> .section3{
  grid-area: s3;
}
> .section4{
  grid-area: s4;
}
> .section5{
  grid-area: s5;
}
> .section6{
  grid-area: s6;
}
  .section2,.section6{
    padding-left: px(19);
    padding-right: px(19);

    h0{
      margin-bottom: px(19);
    }


    td {
      text-align: center;height: px(39); width: px(84);
    }

    tr>* {
      //background-color: #0c2456;
      color: #fff;
    }

    th[scope="col"] {
      //background-color: #162358;
      width: px(56);
      height: px(19);
      font-size: px(7);
      color: #fff;
    }
    .table{
      width: px(446);
      height: px(142);
      overflow: hidden;
    }

    //th[scope="row"] {
    //  background-color: #d6d9f2;
    //}

    caption {
      padding: 9px;
      caption-side: bottom;
    }

    table{
      border-collapse: collapse;
      border: 1px solid #1b2d63;
      width: 99%; table-layout: fixed;
    }

  }
}



section{
  display: flex;
  flex-direction: column;
  .chart{
    flex:1;
    width: 100%;
  }

}
.section1{
  .bar{
    height: px(200);
  }
  .bar2{
    flex:1
  }
}

.section2 .line{
  height: px(270);
}

.section4{
  //background-color: #010310;
  img{
    width: 100%;
  }
}
.section5{
  .content{
    display: flex;
  }
}

.section6{
  display: flex;
  flex-direction: column;
  >div{
    height: px(250);
  }
  >div:nth-child(3){
    flex:1;
    padding-left: px(20);
    padding-right: px(20);
  }

  .content{
    display: flex;
    .pie{
      //border:1px solid red;
    }
  }
}


#path {
  position: absolute;
  left: 199.16px;
  top: 26.12px;
  width: 10.67px;
  height: 6.95px;
  border: 3.9711192px dashed #979797;
  box-shadow: 0px 2px 4px rgba(100,100,100,0.5);
  transform: scaleX(-1) rotate(21.00002deg);
}
